<div class="container">
  <h1><%= @adventure.name %></h1>
  <div class="row mt-4">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <p><strong>Details:</strong> <%= @adventure.details %></p>
          <% if @adventure.tips.present? %>
            <p><strong>Tips:</strong> <%= @adventure.tips %></p>
          <% end %>
          <% if @adventure.warnings.present? %>
            <p><strong>Warnings:</strong> <%= @adventure.warnings %></p>
          <% end %>
          <% if @adventure.skills.present? %>
            <p><strong>Required Skills:</strong> <%= @adventure.skills %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5>Available Locations</h5>
          <% @adventure.locations.each do |location| %>
            <%= link_to location.name, location_path(location), class: "d-block mb-2" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
