<h1>Search for Locations</h1>

<%= form_with(url: search_locations_path, method: :get, local: true) do |form| %>
  <%= form.text_field :query, placeholder: "Search by location name" %>
  <%= form.submit "Search" %>
<% end %>

<h2>Locations</h2>

<% @locations.each do |location| %>
  <div class="location">
    <h3><%= link_to location.name, location_path(location) %></h3>
    <p><%= location.details %></p>
  </div>
<% end %>
