<%# app/views/layouts/application.html.erb %>
<!DOCTYPE html>
<html>
  <head>
    <title>BokenClub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <% if request.path == root_path %>
    <body class="home">
    <% else %>
      <body>
      <% end %>
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
      <%= yield %>
      <% if flash[:javascript] %>
        <script>
          document.addEventListener('DOMContentLoaded', function() {
            <%= flash[:javascript].html_safe %>
          });
        </script>
      <% end %>
    </body>
  </html>
