<!DOCTYPE html>
<html class="<%= Rails.env.production? ? 'production' : '' %>">
  <head>
    <title>Boken Club</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <%= yield :head %>
  </head>
  <body class="<%= controller_name == 'pages' && action_name == 'home' ? 'home' : '' %> <%= Rails.env.production? ? 'production' : '' %>">
    <%= render "shared/navbar" %>
    <%= render "shared/improved_alerts" %>
    <%= yield %>
  </body>
</html>
