<!DOCTYPE html>
<html>
  <head>
    <title>Boken Club - Wilderness Adventure</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
      body {
        margin: 0;
        padding: 0;
        background-color: #1a3409;
        min-height: 100vh;
      }
    </style>
    <%= yield :head %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
